nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .logo img {
    height: 40px;
  }

  .logo h3 {
    color: aliceblue;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-toggle {
    display: none;
    cursor: pointer;
  }
  
  .nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
  }

    /* making the component mobile responsive by ussing media quiries */
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .nav-toggle {
      display: block;
    }
  }